<!-- accounts/templates/accounts/register.html -->
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Registration Form{% endblock %}

{% block content %}
<!--********************* *********************  Registration Form  *******************************************************-->


  <div class="container bg-white shadow-md p-5 form-layout w-50 w-70-sm border">

    <h3 class="text-center animated slideInUp"> <span class="MainHeadline">Create your account</span> </h3>

    <form method="POST" autocomplete="off" class="animated fadeInUp">

      {% csrf_token %}

      {{form.username|as_crispy_field}}

      <br> <br>


      {{form.whatsapp_num|as_crispy_field}}

      <br> <br>

      {{form.address|as_crispy_field}}

      <br> <br>


      {{form.password1|as_crispy_field}}

      <br> <br>


      {{form.password2|as_crispy_field}}


      <br> <br>
      
      <button type="submit" class="btn btn-primary navbar-btn text-white w-100 w-70-sm p-2"> &nbsp; Create account </button>

      <br> <br>

      <div class="text-center">

          <a href="{% url 'login' %}"> Already have an account? </a>

      </div>


  </form>

  </div>


{% endblock %}
