{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container mt-5">
    <h5 class="text-center animated fadeIn "><span>Order Confirmation</span></h5>

    <p class="text-center animated fadeInUp text-white">Thank you for your order, <strong>{{ user.username }}</strong>!</p>
    <p class="text-center mt-4 animated fadeInUp text-white">Your order has been placed successfully!</p>
    <hr>


   <div class="order-details animated fadeInUp d-flex justify-content-between">
    <div>
        <p class="custom-font-local fa-solid"><strong>Delivery Option:</strong> <span class="custom-font-local fa-solid">{{ delivery_option }}</span></p>
        <br>
        <p class="custom-font-local fa-solid"><strong>Delivery Fee:</strong> AU$ {{ delivery_fee }}</p>
    </div>
    <p class="custom-font-localfa-solid"><strong>Total Amount:</strong> <strong>AU$ {{ final_total }}</strong></p>
</div>

<div class="order-details animated fadeInUp">
        <h4 class="mt-4">Ordered Items</h4>
        <ul class="list-group animated fadeInUp">
            {% for menu, items in ordered_menus.items %}
                <li class="list-group-item ">
                    <h5><strong class="text-dark bold">{{ menu.name }}</strong></h5>
                    <ul class="list-group">
                        {% for food_item, quantity, item_price in items %}
                            <li class="list-group-item d-flex align-items-center justify-content-between bg-dark text-light">
                                {% if food_item.picture %}
                                <img src="{{ food_item.picture.url }}" alt="{{ food_item.name }}" class="img-thumbnail mr-3"
                                    style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                                {% endif %}
                                <div class="flex-grow-1">
                                    <strong>{{ food_item.name }} (AU$ {{ item_price}})</strong>
                                </div>
                                <div>
                                    Quantity: {{ quantity }} - Total: AU${{ item_price|times:quantity}}
                                </div>
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex align-items-center justify-content-between bg-light text-dark">
                            <div class="flex-grow-1">
                            </div>
                            <div>
                                Total: AU${{ ammount_per_menu }}
                            </div>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="row mt-4 justify-content-center">
    <div class="col-md-4 mb-4 animated fadeInUp delay-2s">
      <a href="{% url 'WeeklyMenu' %}" class="btn btn-primary btn-lg btn-block shadow-lg">New Order</a>
    </div>
  </div>

<!-- Custom CSS for animation and styling -->
<style>
    .MainHeadline {
        color: rgb(255, 255, 255);
        background-color: hsl(22, 92%, 45%);
    }

    .custom-font-local {
        font-family: 'Poppins', Cursive, Monospace, Fantasy, Sans-serif, Serif;
        /* Change to your desired font */
        font-size: 1.0em;
    }

    .order-details {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .list-group-item {
        border: none;
        background-color: #ffffff;
    }

    .list-group-item h4 {
        margin-bottom: 15px;
        color: #127feb;
    }

    .list-group-item strong {
        color: #fb3310;
    }
</style>

{% endblock %}
